/*
 * Typography
 */

@font-face {
	font-family: "DIN1451StdEngschrift";
	src: url("../fonts/DIN/dinengschriftstd-webfont.eot");
	src: local("☺"), 
	url("../fonts/DIN/dinengschriftstd-webfont.woff") format("woff"), 
	url("../fonts/DIN/dinengschriftstd-webfont.ttf") format("truetype"), 
	url("../fonts/DIN/dinengschriftstd-webfont.svg#webfontjeP1lQbS") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_sansbold";
	src: url("../fonts/Fira/firasans-bold-webfont.eot");
	src: url("../fonts/Fira/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-bold-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-bold-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-bold-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-bold-webfont.svg#fira_sansbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_sansbold_italic";
	src: url("../fonts/Fira/firasans-bolditalic-webfont.eot");
	src: url("../fonts/Fira/firasans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-bolditalic-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-bolditalic-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-bolditalic-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-bolditalic-webfont.svg#fira_sansbold_italic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_sansbook";
	src: url("../fonts/Fira/firasans-book-webfont.eot");
	src: url("../fonts/Fira/firasans-book-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-book-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-book-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-book-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-book-webfont.svg#fira_sansbook") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_sansbook_italic";
	src: url("../fonts/Fira/firasans-bookitalic-webfont.eot");
	src: url("../fonts/Fira/firasans-bookitalic-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-bookitalic-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-bookitalic-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-bookitalic-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-bookitalic-webfont.svg#fira_sansbook_italic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_sansregular";
	src: url("../fonts/Fira/firasans-regular-webfont.eot");
	src: url("../fonts/Fira/firasans-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-regular-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-regular-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-regular-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-regular-webfont.svg#fira_sansregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fira_semibold";
	src: url("../fonts/Fira/firasans-semibold-webfont.eot");
	src: url("../fonts/Fira/firasans-semibold-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Fira/firasans-semibold-webfont.woff2") format("woff2"),
	url("../fonts/Fira/firasans-semibold-webfont.woff") format("woff"),
	url("../fonts/Fira/firasans-semibold-webfont.ttf") format("truetype"),
	url("../fonts/Fira/firasans-semibold-webfont.svg#fira_sanssemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}


.region-content {
	font: 18px/1.5em Georgia, Times, serif;
}
button, label, legend {
	font-family: "fira_semibold" ,Arial, sans-serif;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6, h7 {
	font-family: "fira_semibold" ,Arial, sans-serif;
  font-weight: normal;
}
b, strong {
	font-family: "fira_sansbold" ,Arial, sans-serif;
	font-weight: normal;
}
b i, i b, strong em, em strong {
	font-family: "fira_sansbold_italic" ,Arial, sans-serif;
	font-weight: normal;
}
i, em {
	font-family: "fira_sansbook_italic" ,Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: -.25px;
}





/* The bootstrap theme tries to adjust the max width based on your screen
 * size. By eliminating this setting, we ensure that the top nav bar is
 * always 100%.
 */
.navbar.container {
  max-width: none;
}

/* 
 * The navbar background should be a color or repeating image. It will 
 * stretch out 100% at all times.
 */
#navbar {
  margin-top: 0px;
  border: none;
  background-image: url("../images/header-bg.jpg"); 
  max-height: 178px;
  border-bottom: 1px solid #000;
}

/*
 * The bootstrap theme seems to display this toggle when the screen is
 * small. However we have nothing in this menu so we never want it displayed.
 */
.navbar-toggle {
  display:none;
}


/* 
 * Align the logo so it is the same height as the max height of the
 * div. When at max height, we need the logo and the background image
 * in the enclosing div to be the same. Also, ensure the div enclosing
 * the logo is always 100% so it the image that is inside it can adjust
 * as well.
 */
#navbar .logo {
  margin-top: 0px;
  max-width: 100% !important;
  margin-left: 5px;
  margin-right: auto;

  /* 
   * These settings ensure that the logo is always centered. The width
   * must be set to the width of the image. 
   */
  float: none !important;
  display: block;
  width: 995px;
}

/* Don't float the nav-header - ensures logo is centered. */
#navbar .navbar-header {
  float: none;
}

/* 
 * The following code sets the width of the middle column. You have to set the
 * width if you want it to be centered. We start with the width for the smallest
 * devices and then make the width bigger as the device size increases. We use
 * bootstrap default sizes..
 */

.col-sm-12 {
  float: none !important;
  margin: 0 auto;
  width: 300px !important;
}

@media only screen and (min-width : 480px) {
  .col-sm-12 {
    float: none !important;
    margin: 0 auto;
    width: 450px !important;
  }
}

@media only screen and (min-width : 768px) {
  .col-sm-12 {
    float: none !important;
    margin: 0 auto;
    width: 750px !important;
  }
}

@media only screen and (min-width : 992px) {
  .col-sm-12 {
    float: none !important;
    margin: 0 auto;
    width: 970px !important;
  }
}



/* nav bar */

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

.nav-holder {
  background-color: #005d7e; 
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

a.navbar-brand {
  display: block;
  background-color: #005d7e; 
  width: 100%;
  color: #ffff;
  font-family: 'DIN1451StdEngschrift','Tahoma', 'Sans-Serif';
  text-transform: uppercase;
  font-size: 30px;
}




.region-sidebar-first {
  background-color: #fff6dc;
  border-radius: 0px;
  border-color: #fd9;
  box-shadow: none;
	font-family: "fira_sansregular";
}



/* Spacing things */

.region-sidebar-first a {
  display: inline-block;
  margin-bottom: 12px;
}

.region-sidebar-first a:last-of-type {
  margin-bottom: 0;
}

#navbar {
  margin-bottom: 4em;
}
#navbar li {
  margin-top: 0;
  background-color: #134878;
  margin-left: 10px;
}
#navbar li a {
  color: #feb;
	font-family: "DIN1451StdEngschrift";
	text-transform: uppercase;
	font-size: 1.4em;
}


p, li { 
  margin-top: 1em;
}



h1 {
  color: #f90;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

a {
  color: #272;
}

#node-6 em {
  color: red;
  font-weight: bold;
}



/* Q&A */
.Q {
  font-family: "fira_sansbook";	
}
.Q::before {
	content: '▸ ';
	margin-left: -10px;
}
.QA {
  margin-top: 20px;
  margin-bottom: 20px;
}
.A  {
  margin-top: 20px;
  margin-bottom: 40px;
}
.collapsing {
    transition: height 0.6s;
}
.A {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #fd9;
	border-top: 1px solid #fd9;
}



.credit {
  display: none;
}

.submitted {
  display: none;
}
