/* Invoked when using the print modulue */

table {
  width: 100%;
}

td {
  padding:15px;
  border-bottom: 1px #000 solid;
  font-size: 10px;
}

th {
  border-bottom: 1px #000 solid;
  padding:5px;
  text-align: left;
}

.view-footer {
  max-height: 20%;
  min-height: 5%;
  height: 400px;
}

.roster-print {
  display:none;
}

.print-breadcrumb {
  display:none;
}

tr.even {
  background-color: white;
}

.print-logo {
  width: 100px;
}

.print-site_name {
  display: none;
}

#housemates, #orientation-only-attendees {
  page-break-before: always;
}

.print-hr {
  display: none;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.housemates-name, .housemates-email, .housemates-phone, .housemates-control  {
  width: 25%;
}
