/* line 1, ../sass/layout.scss */
#page {
  width: 960px;
  margin: 0 auto;
}

/* line 5, ../sass/layout.scss */
#main {
  padding: 5px 15px;
  overflow: hidden;
}

/* line 9, ../sass/layout.scss */
nav#main-menu {
  display: none;
}

/* line 12, ../sass/layout.scss */
#content.column {
  width: 700px;
  float: left;
}

/* line 16, ../sass/layout.scss */
aside.sidebars {
  width: 200px;
  float: right;
}

/* line 21, ../sass/layout.scss */
aside.sidebars h2.block-title {
  line-height: 125%;
}

/* line 24, ../sass/layout.scss */
aside.sidebars ul {
  margin: 0px;
}
