/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 30, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 34, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 51, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 61, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 65, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 71, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 77, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 82, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 87, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 108, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 109, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 113, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 130, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 134, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 138, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 141, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 147, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 151, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 156, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 159, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 163, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 167, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 170, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 173, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 176, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 179, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 183, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 189, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 193, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 196, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 201, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 204, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/*
 * Page bottom
 */
/* line 238, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/* John E. Added this on Sept 26 */
/* line 252, ../sass/pages.scss */
body {
  background: #340;
  color: #333;
}

/* line 257, ../sass/pages.scss */
#main {
  background: #fff;
}

/* line 261, ../sass/pages.scss */
#content {
  margin-top: 0px;
}

/* line 265, ../sass/pages.scss */
#header {
  overflow: hidden;
  background: #577613;
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
}

/* line 272, ../sass/pages.scss */
a {
  color: #090;
  text-decoration: none;
}

/* line 277, ../sass/pages.scss */
a:hover {
  text-decoration: underline;
}

/* line 281, ../sass/pages.scss */
.container_12 {
  /*  background: #fff url(../images/12_col.gif) repeat-y; */
  background-color: #fbffe6;
}

@font-face {
  font-family: 'DIN1451StdEngschrift';
  src: url("../fonts/dinengschriftstd-webfont.eot");
  src: local("☺"), url("../fonts/dinengschriftstd-webfont.woff") format("woff"), url("../fonts/dinengschriftstd-webfont.ttf") format("truetype"), url("../fonts/dinengschriftstd-webfont.svg#webfontjeP1lQbS") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 295, ../sass/pages.scss */
.breadcrumb {
  font-family: 'DIN1451StdEngschrift',Tahoma,'Liberation Sans',FreeSans,sans;
  font-weight: normal;
  font-size: 21px;
  list-style: none;
  text-decoration: none;
}

/* line 302, ../sass/pages.scss */
h1, h2, h3, h4, .button-rounded, .date-display-single, table.odate-table span {
  font-family: 'DIN1451StdEngschrift',Tahoma,'Liberation Sans',FreeSans,sans;
  font-weight: normal;
}

/* Header */
/* line 314, ../sass/pages.scss */
#header #logo {
  width: 140px;
  height: 87px;
  margin-bottom: 18px;
}

/* line 319, ../sass/pages.scss */
#header #logo a {
  display: block;
  background-repeat: no-repeat;
  width: 140px;
  height: 87px;
}

/* line 325, ../sass/pages.scss */
#header #name-and-slogan {
  display: none;
}

/* line 332, ../sass/pages.scss */
#header ul#nav li {
  overflow: hidden;
  padding: 0;
}

/* line 336, ../sass/pages.scss */
#header ul#nav li a {
  display: block;
  border-left: 5px solid #aac500;
  color: #900;
  width: 155px;
  height: 60px;
  text-indent: -9999em;
  background-repeat: no-repeat;
}

/* line 345, ../sass/pages.scss */
#header ul#nav li a.about {
  background-image: url("../images/nav-about.png");
}

/* line 348, ../sass/pages.scss */
#header ul#nav li a.about {
  background-image: url("../images/nav-about.png");
}

/* line 351, ../sass/pages.scss */
#header ul#nav li a.members {
  background-image: url("../images/nav-members.png");
}

/* line 354, ../sass/pages.scss */
#header ul#nav li a.food {
  background-image: url("../images/nav-food.png");
}

/* line 357, ../sass/pages.scss */
#header ul#nav li a.events {
  background-image: url("../images/nav-events.png");
}

/* line 360, ../sass/pages.scss */
#header ul#nav li a.news {
  background-image: url("../images/nav-news.png");
}

/* line 363, ../sass/pages.scss */
#header ul#nav li a.join {
  background-image: url("../images/nav-join.png");
}

/* line 368, ../sass/pages.scss */
#section-header {
  background-image: url("../images/header-bg-2.jpg");
  padding: 10px;
  height: 64px;
}

/* line 373, ../sass/pages.scss */
#section-header h2, #section-header h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 10px;
}

/* User login and status block */
/* line 385, ../sass/pages.scss */
#secondary-menu {
  background-color: #560;
  padding: 5px 0px 5px 10px;
  color: #ffb;
  text-align: right;
  float: right;
  font-size: 12px;
}

/* line 393, ../sass/pages.scss */
#secondary-menu a {
  color: #ac0;
  border-bottom: 1px solid #780;
}

/* line 397, ../sass/pages.scss */
#secondary-menu a:hover {
  text-decoration: none;
  border-bottom: 1px solid #ac0;
}

/* line 401, ../sass/pages.scss */
#secondary-menu .current_city {
  font-weight: bold;
}

/* line 404, ../sass/pages.scss */
#secondary-menu .status {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  border-left: 1px solid #780;
  border-right: 1px solid #780;
}

/* line 410, ../sass/pages.scss */
#secondary-menu .logout {
  padding-right: 10px;
}

/* line 413, ../sass/pages.scss */
#secondary-menu .login {
  font-size: 15px;
  padding: 0 4px 0 4px;
}

/* breadcrumbs */
/* line 422, ../sass/pages.scss */
ul#breadcrumbs li {
  color: #dcbe76;
  display: inline;
  padding-right: 32px;
  margin: 0 3px 0 0;
  background: url("../images/bread-arrow.png") no-repeat right;
}

/* line 429, ../sass/pages.scss */
ul#breadcrumbs li.last {
  background: none;
}

/* line 432, ../sass/pages.scss */
ul#breadcrumbs li.active {
  color: #6f7c24;
}

/* Footer */
/* line 440, ../sass/pages.scss */
#footer {
  background-color: #213d00;
  color: #ffb;
  padding: 10px 0 15px 0;
  overflow: hidden;
  font-size: .9em;
}

/* line 447, ../sass/pages.scss */
#footer a {
  color: #ad0;
}

/* line 449, ../sass/pages.scss */
#footer h4 {
  text-transform: uppercase;
  color: #9c0;
  font-size: 24px;
  margin: 0;
}

/* line 455, ../sass/pages.scss */
#footer ul.social-media {
  list-style: none;
  margin: 10px 0 0 0;
}

/* line 459, ../sass/pages.scss */
#footer ul.social-media li {
  margin: 0;
}

/* line 462, ../sass/pages.scss */
#footer ul.social-media li a {
  height: 35px;
  display: block;
  padding-left: 30px;
  font-family: Verdana, Helvetica, sans;
}

/* line 468, ../sass/pages.scss */
#footer ul.social-media .twitter {
  background-image: url("../images/footer-twitter.png");
  background-repeat: no-repeat;
}

/* line 472, ../sass/pages.scss */
#footer ul.social-media .facebook {
  background-image: url("../images/footer-facebook.png");
  background-repeat: no-repeat;
}

/* line 476, ../sass/pages.scss */
#footer ul.social-media .rss {
  background-image: url("../images/footer-rss.png");
  background-repeat: no-repeat;
}

/* line 480, ../sass/pages.scss */
#footer ul.social-media .privacy {
  background-image: url("../images/footer-privacy.png");
  background-repeat: no-repeat;
}

/* Devel area */
/* line 490, ../sass/pages.scss */
#devel-area {
  clear: both;
  margin: 2em;
  padding: 1em;
  background: #FBFFE6;
  float: left;
}

/* line 497, ../sass/pages.scss */
#devel-area .block {
  float: left;
  margin: .5em 2em .5em 0;
  padding: .5em;
  border: 1px solid #333;
}

/* line 503, ../sass/pages.scss */
#devel-area .block a {
  color: #690;
}

/* Content */
/* line 513, ../sass/pages.scss */
h1, h2, h3 {
  color: #796f26;
}

/* line 517, ../sass/pages.scss */
#content a {
  color: #272;
}

/* line 521, ../sass/pages.scss */
#right-side {
  float: right;
  width: 225px;
}

/* line 527, ../sass/pages.scss */
#right-side #block-block-7,
#right-side .block-psfc_member_data {
  background: #F0E7D7;
  padding: 1em;
  margin: 0 0 2em 0;
}

/* line 532, ../sass/pages.scss */
#right-side #block-block-7 {
  margin-bottom: 1em;
}

/* line 536, ../sass/pages.scss */
#main-content {
  margin-right: 250px;
}

/* user profile page */
/* line 544, ../sass/pages.scss */
.profile {
  clear: none;
}

/* un-drupalism */
/* line 554, ../sass/pages.scss */
.node-form .standard {
  clear: none;
}

/* line 555, ../sass/pages.scss */
#main-content .fake-leaf {
  display: none;
}

/* line 556, ../sass/pages.scss */
div#main-content ul.menu {
  margin-left: 4px;
}

/* line 557, ../sass/pages.scss */
div#right-side ul.menu {
  margin-left: 6px;
}

/* line 558, ../sass/pages.scss */
#main-content ul.menu li {
  margin-top: 5px;
}

/* line 559, ../sass/pages.scss */
#main-content ul.menu li ul.menu li {
  list-style: none;
}

/* line 560, ../sass/pages.scss */
tr.even, tr.odd {
  background-color: transparent;
}

/* line 561, ../sass/pages.scss */
td {
  padding: 2px 2.5em 0 0;
}

/* line 562, ../sass/pages.scss */
td.views-field-phpcode-1, td.views-field-phpcode {
  padding: 0px;
}

/* line 563, ../sass/pages.scss */
td.views-field-phpcode {
  vertical-align: middle;
}

/* line 567, ../sass/pages.scss */
td.views-field-phpcode div.only-three,
td.views-field-phpcode-1 div.must-login {
  width: 100px;
  padding-left: 10px;
  color: #f00;
  line-height: 1.2em;
}

/* line 573, ../sass/pages.scss */
td.views-field-phpcode-1 div.must-login {
  display: none;
  float: right;
  width: 160px;
}

/* line 578, ../sass/pages.scss */
td.views-field-phpcode-1:hover div.must-login {
  display: block;
}

/* line 581, ../sass/pages.scss */
td.views-field-phpcode-1:hover {
  border-top: none;
}

/* line 584, ../sass/pages.scss */
td.views-field-phpcode-1 div.must-login a {
  color: #000  !important;
}

/* line 587, ../sass/pages.scss */
div.block-user h4 {
  display: none;
}

/* large rounded button */
/* line 593, ../sass/pages.scss */
div.button-rounded {
  border: 0 none;
  cursor: pointer;
  font-size: 21px;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  margin-left: -4px;
  padding: 0 20px 0 0;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 609, ../sass/pages.scss */
div.confirm-info-link .button-rounded {
  float: left;
  width: 260px;
}

/* line 614, ../sass/pages.scss */
div.confirm-info-link {
  clear: left;
}

/* line 618, ../sass/pages.scss */
div.button-rounded a,
div.button-rounded button {
  position: relative;
  top: -3px;
  text-decoration: none !important;
}

/* line 624, ../sass/pages.scss */
div.button-rounded {
  background: transparent url("../images/btn_right.png") no-repeat scroll right top;
  clear: left;
}

/* line 629, ../sass/pages.scss */
div.button-rounded span {
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 0 0 20px;
  position: relative;
  white-space: nowrap;
}

/* line 638, ../sass/pages.scss */
div.button-rounded span {
  background: transparent url("../images/btn_left.png") no-repeat scroll left top;
  color: #7b9544;
}

/* line 643, ../sass/pages.scss */
div.button-rounded:hover {
  background-position: 100% -44px;
}

/* line 646, ../sass/pages.scss */
div.button-rounded:hover span {
  background-position: 0% -44px;
}

/* line 649, ../sass/pages.scss */
div.button-rounded-off:hover {
  background-position: right top;
}

/* line 652, ../sass/pages.scss */
div.button-rounded-off:hover span {
  background-position: left top;
}

/* line 655, ../sass/pages.scss */
div.button-rounded:-moz-focus-inner {
  border: none;
}

/* line 658, ../sass/pages.scss */
div.button-rounded span button {
  border: none;
  color: #6d9900;
  font-size: 22px;
  background: transparent;
}

/* red rounded button */
/* line 670, ../sass/pages.scss */
div.button-rounded.red span {
  background: transparent url("../images/btn_left_red.png") no-repeat scroll left top;
}

/* line 673, ../sass/pages.scss */
div.button-rounded.red {
  background: transparent url("../images/btn_right_red.png") no-repeat scroll right top;
}

/* line 676, ../sass/pages.scss */
div.button-rounded.red span a {
  color: #fff !important;
}

/* orientation sign-in */
/* line 686, ../sass/pages.scss */
div.orientation-login,
div.orientation-register {
  float: left;
  width: 330px;
}

/* line 690, ../sass/pages.scss */
div.orientation-register {
  padding-left: 20px;
  border-left: 2px solid #e9d8ac;
}

/* line 695, ../sass/pages.scss */
div#node-37.node.clear-block,
div#node-38.node.clear-block {
  width: 330px;
}

/* line 699, ../sass/pages.scss */
div.orientation-login input,
div.orientation-register input {
  width: 200px;
}

/* orientation time date table */
/* line 708, ../sass/pages.scss */
table {
  margin-top: 1em;
}

/* line 711, ../sass/pages.scss */
table th {
  color: #888;
}

/* line 715, ../sass/pages.scss */
table.odate-table span,
span.date-display-single {
  font-size: 28px;
  color: #030;
}

/* line 724, ../sass/pages.scss */
#user-login-form {
  background: #F0E7D7;
  text-align: left;
  padding: 1px 15px 1px 15px;
}

/* line 729, ../sass/pages.scss */
#user-login-form div.item-list {
  padding-top: 10px;
  margin-top: 15px;
  border-top: 1px solid #c96;
  border-color: #b7c03d;
}

/* line 735, ../sass/pages.scss */
div.block-user {
  background: #F0E7D7;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
}

/* line 740, ../sass/pages.scss */
#user-login-form ul li {
  margin-left: 0;
}

/* menu tabs */
/* line 747, ../sass/pages.scss */
div#main-content ul.primary {
  padding: 0;
}

/* line 750, ../sass/pages.scss */
div#main-content ul.primary a {
  text-decoration: none;
  background: #F0E7D7;
}

/* line 754, ../sass/pages.scss */
div#main-content ul.primary li {
  margin-left: 0;
}

/* line 757, ../sass/pages.scss */
div#main-content ul.primary li.active a {
  background: #FBFFE6;
}

/* line 760, ../sass/pages.scss */
div#main-content ul.primary li:hover a {
  background: #FBFFE6;
}

/* line 763, ../sass/pages.scss */
ul.tabs {
  white-space: normal;
}

/* join inter-sectional nav block */
/* line 773, ../sass/pages.scss */
div#block-block-6,
div#secondary-links,
div#block-menu-menu-psfc-admin {
  background: #F0E7D7;
  padding: 10px;
  margin: 20px 0 20px 0;
}

/* line 778, ../sass/pages.scss */
div#block-block-6 h3 {
  margin: 0;
}

/* line 781, ../sass/pages.scss */
div#block-block-6 h3 {
  margin: 0;
}

/* line 784, ../sass/pages.scss */
div#block-block-6 h3 a {
  display: block;
}

/* line 787, ../sass/pages.scss */
div#block-block-6 h3 a:hover {
  background: #F5F5E0;
}

/* line 790, ../sass/pages.scss */
div#secondary-links ul.links li {
  margin: 0px;
  display: block;
  padding: 0px 0px 3px 0px;
}

/*  quick hack to show context sensitive secondary nav state */
/* line 799, ../sass/pages.scss */
div#secondary-links li.active-trail a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* admin page rules */
/* line 806, ../sass/pages.scss */
div#psfc-admin-form {
  margin-bottom: 20px;
}

/* line 809, ../sass/pages.scss */
form#psfc-orientation-add-blackout {
  float: left;
}

/* line 812, ../sass/pages.scss */
form#views-bulk-operations-form--1 .views-node-selector {
  clear: left;
}

/* line 815, ../sass/pages.scss */
form#views-bulk-operations-form--1 .views-node-selector td.active {
  background: none;
}

/* line 818, ../sass/pages.scss */
.view-id-orientation_admin td {
  padding: .25em 5px;
}

/* line 822, ../sass/pages.scss */
.view-id-orientation_admin td.views-field-field-capacity-value,
.view-id-orientation_admin td.views-field-phpcode-2 {
  text-align: center;
}
