


//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

nav#main-menu {
	display: none;
}
#logo {
	@include grid-span(8, 1);
}


//-----------------------------------------------------------------------
// Main Content
//-----------------------------------------------------------------------

#main {
	padding: 0 10px;
	@include clearfix;
}
#content.column {
	@include grid-span(8, 1);
}
#content.contextual-links-region {
	@include grid-span(12, 1);
}



/* shift swap list page */

#content .view-shift-swap-lists th {
	padding-left: 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
}
#content .view-shift-swap-lists td {
	padding: 10px 14px 7px 0px;
}
#content .view-shift-swap-lists td span.date-display-single {
	font-size: 24px;
}
#content .view-shift-swap-lists { 
	padding-bottom: 48px;
}




/* BREAKPOINTS */

/* 320px */
@media screen and (min-width: 20em) { 

}

/* 480px */
@media screen and (min-width: 30px) {

}

/* 600px */
@media screen and (min-width: 40em) {

}

/* 800px */
@media screen and (min-width: 50em) {

}


/* 950px */
@media screen and (min-width: 60em) {
	#header-content, #footer-content, #main {
		width: 940px;
		margin: 0px auto;
		padding: 0;
		@include clearfix;
	}
	aside {
		@include grid-span(4, 9);
	}
	#header-content {
		padding-left: 10px;
	}
	#footer-content .region {
		width: 225px;
		float: left;
	}
	#footer .block-user {
		display: none;
	}
	#footer-content .region .region {
		width: 100%;
	}


	#header .region-header { 
		margin-top: 30px;
		@include grid-span(9, 1);		
		margin-bottom: 0px;
	}
	#header #block-system-main-menu h2 { display: none; }
	#header ul.menu li { list-style: none; }
	#header ul.menu li a {
	 	font-family:  'DIN1451StdEngschrift';
	 	font-size: 1.6em;
	 	line-height: 100%;
		display: inline;
		padding: 0 1em;
		float: left;
		color: #fff;
	}

}


/* 1200px */
@media screen and (min-width: 75em) {

}


//-----------------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------------

aside.sidebars {
	@include grid-span(4, 9);
  h2.block-title {
  	line-height: 125%;	
  }
  ul {
  	margin: 0px;
  }
}

