@import "singularitygs";

$columns: 12;
$gutter: .25;
$padding: 1em;


//-----------------------------------------------------------------------
// Header
//-----------------------------------------------------------------------

nav#main-menu {
	display: none;
}
#logo {
	@include grid-span(8, 1);
}


//-----------------------------------------------------------------------
// Main Content
//-----------------------------------------------------------------------

#main {
	padding: 0 10px;
	@include clearfix;
}
#content.column {
	@include grid-span(8, 1);
}





@media screen and (min-width: 320px) {

}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 800px) {

}
@media screen and (min-width: 950px) {
	#header-content, #footer-content, #main {
		width: 940px;
		margin: 0px auto;
		padding: 0;
		@include clearfix;
	}

	#header-content {
		padding-left: 10px;
	}
	#footer-content .region {
		width: 220px;
		margin-left: 8px;
		margin-right: 3px;
		padding: 0;
		float: left;
	}

}
@media screen and (min-width: 1200px) {

}


//-----------------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------------

aside.sidebars {
	@include grid-span(4, 9);
  h2.block-title {
  	line-height: 125%;	
  }
  ul {
  	margin: 0px;
  }
}

