/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}










/* John added this on 2012-09-26 */

body {
  background: #fbffe6;
  color: #333;
}

#content {
	margin-top: 0px;
}

#header {
  overflow: hidden;
  background: #577613;
  background-image: url('../images/header-bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#main { 
	border-top: 1px solid #fff;
	padding-top: 1em;

/*
	-moz-box-shadow: 0px -5px 30px #454;
	-webkit-box-shadow: 0px -5px 30px #454;
	box-shadow: 0px -5px 30px #454;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#445544')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#445544');
*/

}

a {
  color: #090;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container_12 {
/*  background: #fff url(../images/12_col.gif) repeat-y; */
  background-color: #fbffe6;
}


@font-face {
  font-family:  'DIN1451StdEngschrift';
  src: url('../fonts/dinengschriftstd-webfont.eot');
  src: local('☺'), url('../fonts/dinengschriftstd-webfont.woff') format("woff"), url('../fonts/dinengschriftstd-webfont.ttf') format("truetype"), url('../fonts/dinengschriftstd-webfont.svg#webfontjeP1lQbS') format("svg");
  font-weight: normal;
  font-style: normal;
}

.breadcrumb {
  font-family: 'DIN1451StdEngschrift',Tahoma,'Liberation Sans',FreeSans,sans; font-weight: normal;
  font-size: 21px;
  list-style: none;
  text-decoration: none;
}

h1,h2,h3,h4,.button-rounded,.date-display-single,table.odate-table span {
  font-family: 'DIN1451StdEngschrift',Tahoma,'Liberation Sans',FreeSans,sans;
  font-weight: normal;
}






/* Header */

#header #logo {
  width: 140px;
  height: 87px;
  margin-bottom: 18px;
}
#header #logo a {
  display: block;
  background-repeat: no-repeat;
  width: 140px;
  height: 87px;
}
#header #name-and-slogan {
	display: none;
}




#header ul#nav li {
  overflow: hidden;
  padding: 0;
}
#header ul#nav li a {
  display: block;
  border-left: 5px solid #aac500;
  color: #900;
  width: 155px;
  height: 60px;
  text-indent: -9999em;
  background-repeat: no-repeat;
}
#header ul#nav li a.about {
  background-image: url('../images/nav-about.png');
}
#header ul#nav li a.about {
  background-image: url('../images/nav-about.png');
}
#header ul#nav li a.members {
  background-image: url('../images/nav-members.png');
}
#header ul#nav li a.food {
  background-image: url('../images/nav-food.png');
}
#header ul#nav li a.events {
  background-image: url('../images/nav-events.png');
}
#header ul#nav li a.news {
  background-image: url('../images/nav-news.png');
}
#header ul#nav li a.join {
  background-image: url('../images/nav-join.png');
}


#section-header {
  background-image: url('../images/header-bg-2.jpg');
  padding: 10px;
  height: 64px;
}
#section-header h2, #section-header h1 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 10px;
}




/* User login and status block */

#secondary-menu {
  background-color: #560;
  padding: 5px 0px 5px 10px;
  color: #ffb;
  text-align: right;
  float: right;
  font-size: 12px;
}
#secondary-menu a {
  color: #ac0;
  border-bottom: 1px solid #780;
}
#secondary-menu a:hover {
  text-decoration: none;
  border-bottom: 1px solid #ac0;
}
#secondary-menu .current_city {
  font-weight: bold;
}
#secondary-menu .status {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  border-left: 1px solid #780;
  border-right: 1px solid #780;
}
#secondary-menu .logout {
  padding-right: 10px;
}
#secondary-menu .login {
  font-size: 15px;
  padding: 0 4px 0 4px;
}



/* breadcrumbs */

ul#breadcrumbs li {
  color: #dcbe76;
  display: inline;
  padding-right: 32px;
  margin: 0 3px 0 0;
  background: url('../images/bread-arrow.png') no-repeat right;
}
ul#breadcrumbs li.last {
  background: none;
}
ul#breadcrumbs li.active {
  color: #6f7c24;
}



/* Footer */

#footer {
  background-color: #213d00;
  color: #ffb;
  padding: 10px 0 15px 0;
  overflow: hidden;
  font-size: .9em;
}
#footer p {
	margin: 0;
}

#footer a  { color: #ad0; }

#footer h4 {
  text-transform: uppercase;
  color: #9c0;
  font-size: 24px;
  margin: 0;
}
#footer ul.social-media {
  list-style: none;
  margin: 10px 0 0 0;
}
#footer ul.social-media li {
  margin: 0;
}
#footer ul.social-media li a {
  height: 35px;
  display: block;
  padding-left: 30px;
  font-family: Verdana, Helvetica, sans;
}
#footer ul.social-media .twitter {
  background-image: url('../images/footer-twitter.png');
  background-repeat: no-repeat;
}
#footer ul.social-media .facebook {
  background-image: url('../images/footer-facebook.png');
  background-repeat: no-repeat;
}
#footer ul.social-media .rss {
  background-image: url('../images/footer-rss.png');
  background-repeat: no-repeat;
}
#footer ul.social-media .privacy {
  background-image: url('../images/footer-privacy.png');
  background-repeat: no-repeat;
}




/* Devel area */

#devel-area {
  clear: both;
  margin: 2em;
  padding: 1em;
  background: #FBFFE6;
  float: left;
}
#devel-area .block {
  float: left;
  margin: .5em 2em .5em 0;
  padding: .5em;
  border: 1px solid #333;
}
#devel-area .block a {
  color: #690;
}





/* Content */

h1, h2, h3 {
  color: #796f26;
}

#content a {
  color: #272;
}

#right-side {
  float: right;
  width: 225px;
}

#right-side #block-block-7,
#right-side .block-psfc_member_data {
  background: #F0E7D7;
  padding: 1em;
  margin: 0 0 2em 0;
}
#right-side #block-block-7 {
  margin-bottom: 1em;
}

#main-content { margin-right: 250px; }





/* user profile page */

.profile {
  clear: none;
}





/* un-drupalism */

.node-form .standard { clear: none; }
#main-content .fake-leaf { display: none; }
div#main-content ul.menu { margin-left: 4px; }
div#right-side ul.menu { margin-left: 6px; }
#main-content ul.menu li { margin-top: 5px; }
#main-content ul.menu li ul.menu li { list-style: none; }
tr.even, tr.odd { background-color: transparent; }
td { padding: 2px 2.5em 0 0; }
td.views-field-phpcode-1,td.views-field-phpcode { padding: 0px; }
td.views-field-phpcode {
  vertical-align: middle;
}
td.views-field-phpcode div.only-three,
td.views-field-phpcode-1 div.must-login {
  width: 100px;
  padding-left: 10px;
  color: #f00;
  line-height: 1.2em;
}
td.views-field-phpcode-1 div.must-login {
  display:none;
  float: right;
  width: 160px;
}
td.views-field-phpcode-1:hover div.must-login {
  display: block;
}
td.views-field-phpcode-1:hover {
  border-top: none;
}
td.views-field-phpcode-1 div.must-login a {
  color: #000  !important;
}
div.block-user h4 { display: none; }



/* large rounded button */

div.button-rounded {
  border: 0 none;
  cursor: pointer;
  font-size: 21px;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  margin-left: -4px;
  padding: 0 20px 0 0;
  text-align: center;

  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}
div.confirm-info-link .button-rounded {
  float: left;
  width: 260px;
}

div.confirm-info-link {
  clear: left;
}
div.button-rounded a,
div.button-rounded button {
  position: relative;
  top: -3px;
  text-decoration: none !important;
}

div.button-rounded {
  background: transparent url('../images/btn_right.png') no-repeat scroll right top;
  clear: left;
}

div.button-rounded span  {
  display: block;
  height: 44px;
  line-height: 44px;
  padding: 0 0 0 20px;
  position: relative;
  white-space: nowrap;
}

div.button-rounded span {
  background: transparent url('../images/btn_left.png') no-repeat scroll left top;
  color: #7b9544;
}

div.button-rounded:hover {
  background-position: 100% -44px;
 }
div.button-rounded:hover span  {
 background-position: 0% -44px;
}
div.button-rounded-off:hover {
  background-position: right top;
}
div.button-rounded-off:hover span {
  background-position:  left top;
}
div.button-rounded:-moz-focus-inner {
  border: none;
}
div.button-rounded span button {
  border: none;
  color: #6d9900;
  font-size: 22px;
  background: transparent;
}




/* red rounded button */

div.button-rounded.red span {
  background: transparent url('../images/btn_left_red.png') no-repeat scroll left top;
}
div.button-rounded.red {
  background: transparent url('../images/btn_right_red.png') no-repeat scroll right top;
}
div.button-rounded.red span a {
  color: #fff !important;
}




/* orientation sign-in */

div.orientation-login,
div.orientation-register {
  float: left;
  width: 330px;
}
div.orientation-register {
  padding-left: 20px;
  border-left: 2px solid #e9d8ac;
}
div#node-37.node.clear-block,
div#node-38.node.clear-block {
  width: 330px;
}
div.orientation-login input,
div.orientation-register input {
  width: 200px;
}




/* orientation time date table */

table {
  margin-top: 1em;
}
table th {
  color: #888;
}
table.odate-table span,
span.date-display-single {
  font-size: 28px;
  color: #030;
}





#user-login-form {
  background: #F0E7D7;
  text-align: left;
  padding: 1px 15px 1px 15px;
}
#user-login-form div.item-list{
  padding-top: 10px;
  margin-top: 15px;
  border-top: 1px solid #c96;
  border-color: #b7c03d;
}
div.block-user {
  background: #F0E7D7;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
}
#user-login-form ul li {
  margin-left: 0;
}



/* menu tabs */
div#main-content ul.primary {
  padding: 0;
}
div#main-content ul.primary a {
  text-decoration: none;
  background: #F0E7D7;
}
div#main-content ul.primary li {
  margin-left: 0;
}
div#main-content ul.primary li.active a{
  background: #FBFFE6;
}
div#main-content ul.primary li:hover a {
  background: #FBFFE6;
}
ul.tabs {
  white-space: normal;
}



/* join inter-sectional nav block */

div#block-block-6,
div#secondary-links,
div#block-menu-menu-psfc-admin {
  background: #F0E7D7;
  padding: 10px;
  margin: 20px 0 20px 0;
}
div#block-block-6 h3 {
  margin: 0;
}
div#block-block-6 h3 {
  margin: 0;
}
div#block-block-6 h3 a {
  display: block;
}
div#block-block-6 h3 a:hover {
  background: #F5F5E0;
}
div#secondary-links ul.links li {
  margin: 0px;
  display: block;
  padding: 0px 0px 3px 0px;
}



/*  quick hack to show context sensitive secondary nav state */
div#secondary-links li.active-trail a{
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

/* admin page rules */
div#psfc-admin-form {
  margin-bottom: 20px;
}
form#psfc-orientation-add-blackout {
  float: left;
}
form#views-bulk-operations-form--1 .views-node-selector {
  clear: left;
}
form#views-bulk-operations-form--1 .views-node-selector td.active {
  background: none;
}
.view-id-orientation_admin td {
  padding: .25em 5px;
}
.view-id-orientation_admin td.views-field-field-capacity-value,
.view-id-orientation_admin td.views-field-phpcode-2 {
  text-align: center;
}
