/* Invoked when using the print modulue */

table {
  width: 100%;
}

td.views-field {
  padding:30px;
}

.view-footer {
  max-height: 20%;
  min-height: 5%;
  height: 400px;
}

.view-header {
  display:none;
}

.print-breadcrumb {
  display:none;
}

tr.even {
  background-color: white;
}

