@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\000035}}
h1 {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000312}}
input.form-submit, a.button {
  margin-right: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000316}}
form .field-multiple-table th.field-label {
  padding-left: 10px;
  padding-top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000323}}
ul.tips,
div.description,
.form-item div.description {
  line-height: 1.231em;
  font-size: 0.9em;
  color: #777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000334}}
.filter-wrapper {
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000339}}
.filter-wrapper label {
  font-weight: normal;
  margin-right: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000343}}
.form-wrapper div.description {
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000352}}
#overlay-content {
  min-height: 250px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/foodcoop\/d7\/WEBCOM\/www\.foodcoop\.com\/branches\/drupal-7\/sites\/all\/themes\/foodcoop_admin\/sass\/foodcoopadmin\.scss}line{font-family:\0000359}}
#context-blockform .context-blockform-selector {
  height: auto;
}
