body {
	background: #050;
	color: #333;
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
}

.content {
	font-family: Georgia, Times New Roman, Times, seriff;
}

#header {
	overflow: hidden;
	background: #577613;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
}

a {
	color: #0f0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container_12 {
/*	background: #fff url(../img/12_col.gif) repeat-y; */
	background-color: #fbffe6;
}




/* Header */

#header #logo {
	width: 140px;
	height: 87px;
	margin-bottom: 18px;
}
#header #logo a {
	display: block;
	background-repeat: no-repeat;
	width: 140px;
	height: 87px;
}
#header ul#nav li {
	overflow: hidden;
	padding: 0;
}
#header ul#nav li a {
	display: block;
	border-left: 5px solid #aac500;
	color: #900;
	width; 155px;
	height: 60px;
	text-indent: -9999em;
	background-repeat: no-repeat;
}
#header ul#nav li a.about {
	background-image: url(../img/nav-about.png);
}
#header ul#nav li a.about {
	background-image: url(../img/nav-about.png);
}
#header ul#nav li a.members {
	background-image: url(../img/nav-members.png);
}
#header ul#nav li a.food {
	background-image: url(../img/nav-food.png);
}
#header ul#nav li a.events {
	background-image: url(../img/nav-events.png);
}
#header ul#nav li a.news {
	background-image: url(../img/nav-news.png);
}
#header ul#nav li a.join {
	background-image: url(../img/nav-join.png);
}
#section-header {
	background-image: url(../img/header-bg-2.jpg);
	padding: 10px;
	height: 64px;
}
#section-header h2 {
	color: #fff;
	font-size: 48px;
	margin-bottom: 0;
	margin-top: 10px;
}




/* Footer */

#footer {
	background-color: #213d00;
	color: #fff;
	padding: 10px 0 15px 0;
	overflow: hidden;
	font-size: .9em;
}
#footer a  { color: #ad0; }

#footer h4 {
	text-transform: uppercase;
	color: #9c0;
	font-size: 24px;
	margin: 0;
}
#footer ul.social-media {
	list-style: none;
	margin: 10px 0 0 0;
}
#footer ul.social-media li {
	margin: 0;
}
#footer ul.social-media li a {
	height: 35px;
	display: block;
	padding-left: 30px;
	font-family: Verdana, Helvetica, sans;
}
#footer ul.social-media .twitter {
	background-image: url(../img/footer-twitter.png);
	background-repeat: no-repeat;
}
#footer ul.social-media .facebook {
	background-image: url(../img/footer-facebook.png);
	background-repeat: no-repeat;
}
#footer ul.social-media .rss {
	background-image: url(../img/footer-rss.png);
	background-repeat: no-repeat;
}





/* Devel area */

#devel-area {
  clear: both;
  margin: 2em;
  padding: 1em;
  background: #FBFFE6;
  float: left;
}
#devel-area .block {
  float: left;
  margin: .5em 2em .5em 0;
  padding: .5em;
  border: 1px solid #333;
}
#devel-area .block a {
  color: #690;
}





/* Content */

#content {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1, h2, h3 {
	color: #8f8d2c;
}

#content a {
	color: #690;
	text-decoration: underline;
}

#right-side {
	float: right;
	width: 225px;
}

#right-side .block-psfc_member_data {
	background: #F0E7D7;
	padding: 1em;
	margin: 0 0 2em 0;
}

#main-content { margin-right: 250px; }





/* user profile page */

.profile {
	clear: none;
}





/* un-drupalism */

.node-form .standard { clear: none; }
#main-content .fake-leaf { display: none; }
div#main-content ul.menu { margin-left: 4px; }
div#right-side ul.menu { margin-left: 6px; }
#main-content ul.menu li { margin-top: 5px; }
#main-content ul.menu li ul.menu li { list-style: none; }
tr.even, tr.odd { background-color: transparent; }
td { padding: 2px 2.5em 0 0; }
td.views-field-phpcode-1,td.views-field-phpcode { padding: 0px; }
td.views-field-phpcode { 
	vertical-align: middle;
}
td.views-field-phpcode div.only-three {
	width: 100px;
	padding-left: 10px;
	color: #f00;
	line-height: 1.2em;
}
div.block-user h4 { display: none; }



/* large rounded button */

div.button-rounded {
	border: 0 none;
	cursor: pointer;
	font-size: 21px;
	font-weight: normal;
	height: 44px;
	line-height: 44px;
	margin-left: -4px;
	padding: 0 20px 0 0;
	text-align: center;

	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
div.confirm-info-link .button-rounded {
  float: left;
  width: 250px;
}
div.button-rounded a,
div.button-rounded input {
	position: relative;
	top: -3px;
	text-decoration: none !important;
}

div.button-rounded {
	background: transparent url( ../img/btn_right.png ) no-repeat scroll right top;
	clear: left;
}

div.button-rounded span  {
	display: block;
	height: 44px;
	line-height: 44px;
	padding: 0 0 0 20px;
	position: relative;
	white-space: nowrap;
}

div.button-rounded span {
	background: transparent url( ../img/btn_left.png ) no-repeat scroll left top;
	color: #7b9544;
}

div.button-rounded:hover {
  background-position: 100% -44px;
 }
div.button-rounded:hover span  {
 background-position: 0% -44px;
}
div.button-rounded::-moz-focus-inner {
  border: none;
}
div.button-rounded span input {
	border: none;
	background: transparent;
}


/* orientation sign-in */

div.orientation-login,
div.orientation-register {
	float: left;
	width: 330px;
}
div.orientation-register {
	padding-left: 20px;
	border-left: 2px solid #e9d8ac;
}
div#node-37.node.clear-block,
div#node-38.node.clear-block {
	width: 330px;
}
div.orientation-login input,
div.orientation-register input {
	width: 200px;
}

div.username {
	font: 22px/32px Georgia;
	color: #8d942d;
}




table {
	margin-top: 1em;
}
table th {
	color: #888;
}
table.odate-table span,
span.date-display-single {
	font-size: 28px;
	color: #030;
}





#user-login-form {
	background: #F0E7D7;
	text-align: left;
	padding: 1px 15px 1px 15px;
}
#user-login-form div.item-list{
	padding-top: 10px;
	margin-top: 15px;
	border-top: 1px solid #c96;
	border-color: #b7c03d;
}
div.block-user {
	background: #F0E7D7;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;	
}
#user-login-form ul li {
	margin-left: 0;
}


